.header {
	background-color:yellow;
}
/* .header {
  font-family: Trebuchet MS,Liberation Sans,DejaVu Sans,sans-serif;
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  color: #01162B; 
  line-height: 26 px;
  text-decoration: none;
  outline: none;
  cursor: auto;
  text-align: left;
}

body {
  font-family: Trebuchet MS,Liberation Sans,DejaVu Sans,sans-serif;
  color: #01162B; 
}

img {
  color: #01162B; 
  padding: 5% 0 2% 0;
  height: 300px;
  border-color: grey;
  border: 10px;

}
*/