#nav ul {
	list-style-type: none;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding:0 0 2em 0;
	margin: 1em 2em;
	}

#nav li {
	float: left; 
	}


#nav li a {
	display: block;
	padding: 8px 15px;
	text-decoration: none;
	border-right: 1px solid #ccc; }

#nav li a:hover {
	color: #c00;
	background-color: #fff; }

#nav .active {
	color: #069;
	font-weight: bolder; }

#nav li a:visited
{ 
	color: #069; 
	text-decoration: none; 
}

#nav .web {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: larger;
}

	
body
{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1.19048em
}



h3 {
	font-weight: bolder;
}

section	{
	margin: 1em 3em;
}