#page {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  font-family: Verdana, Arial, Helvetica, sans-serif;

}

#page a {
  color: rgb(220, 51, 37);
  font-family: futura-pt, 'helvetica neue', helvetica, arial, sans-serif;
}

.header{
  height: 80px;
}

.title {
  font-size: 3em;  /*48/16 */

}

.main {


}

.main  p {
  margin: 0px 7.5em;
}

.main p img {
  max-width: 100%;  /* 800/640 = 125*/
}

.table-of-contents ul, li, ul li
{
  list-style-type: none;
}

.table-of-contents li a 
{
  list-style-type: none;
}