<!DOCTYPE html>

<html>
	<head>
		<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{% include stylesheets.html %}		    
	<title>{{ page.title }}</title>
	</head>
	<body>
	
<div id="page"> 
  <div class="blog section"> 
    <h1 class="lede">Recently in <a href="#">The Bot Blog</a></h1>  

    <div class="main"> 
     {{content}}
    </div><!-- /end .main -->

    <div class="other"> 
    	{{content}}
     </div><!-- /end .other -->

  </div><!-- /end .blog.section -->
</div><!-- /end #page --> 
    
	</body>
</html>
